.create-post-container {
    max-width: 450px;
    min-width: 200px;
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background: var(--card-background);
    box-shadow: var(--card-box-shadow);
}

/* Input Fields */
#create-post-title,
#create-post-categories,
textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: var(--border-width) solid var(--card-border-color);
    background: var(--card-background);
    font-size: 1rem;
}

/* Textarea */
textarea {
    height: 200px;
    resize: none;
}

/* Submit Button */
.create-post-btn {
    padding: 0.75rem;
    border-radius: 10px;
    background: var(--primary);
    color: var(--primary-inverse);
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.create-post-btn:hover {
    background: var(--primary-hover);
}
